<%- include ("../partials/header.ejs") %> <%- include
("../partials/homenavbar.ejs") %>

<body>
  <div class="container">
    <h2 class="mt-5">Planos Cadastrados</h2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">List</th>
          <th scope="col">ClientID</th>
          <th scope="col">Valor</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% planos.forEach(plano => { %>
        <tr>
          <th scope="row"><%= plano.id %></th>
          <td><%= plano.title %></td>
          <td><%= plano.list %></td>
          <td><%= plano.client %></td>
          <td><%= plano.value %></td>
          <!--Status do plano -->
          <% if (plano.deactivated) { %>
          <td><i class="fas fa-minus-circle" title="Desativado"></i></td>
          <% } else {%>
          <td><i class="fas fa-check" title="Ativado"></i></td>
          <% } %>
          <!--Ativar ou desativar plano -->
          <% if (plano.deactivated) { %>
            <td>
              <a id="a" href="/plans/activate/<%= plano.id %>">
                Ativar
              </a>
            </td>
            <% } else {%>
              <td>
                <a id="d" href="/plans/deactivate/<%= plano.id %>">
                  Desativar
                </a>
              </td>
            <% } %>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <hr />
  </div>
</body>


<style>

  #d{
  text-decoration:none;
  color:red;
  }
  
  #a{
  text-decoration:none;
  color:#007BFF;
  }

  </style>

<%- include ("../partials/footer.ejs") %>
