<%- include ("../partials/header.ejs") %> <%- include
("../partials/homenavbar.ejs") %>

<body>
  <div class="container">
    <h2 class="mt-5">Planos Cadastrados</h2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">List</th>
          <th scope="col">ClientID</th>
          <th scope="col">Valor</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% planos.forEach(plano => { %>
        <tr>
          <th scope="row"><%= plano.id %></th>
          <td><%= plano.title %></td>
          <td><%= plano.list %></td>
          <td><%= plano.client %></td>
          <td><%= plano.value %></td>
          <% if (plano.deactivated) { %>
          <td>Ativado</td>
          <% } else {%>
          <td>Desativado</td>
          <% } %>
          <td>
            <a class="btn btn-warning" title="Alterar" href="#">
              <i class="fa fa-pencil"></i>
            </a>

            <form
              method="POST"
              action="#"
              style="display: inline;"
              onsubmit="confirmarDelecao(event, this)"
            >
              <input type="hidden" name="id" value="" />
              <button class="btn btn-danger" title="Excluir" type="submit">
                <i class="fa fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <hr />
  </div>
</body>

<%- include ("../partials/footer.ejs") %>
